.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
} 

.flex-fill {
    flex: 1 1 auto;
}

.none {
    display: none;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.grid {
    display: grid;
}

.rounded {
    border-radius: 50%;
}

.box-shadow {
    box-shadow: var(--box-shadow);
    --webkit-box-shadow: var(--box-shadow);
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.text-right {
    text-align: right;
}

.justify-content-right {
    justify-content: right;
}

.align-items-right {
    align-items: right;
}

.text-left {
    text-align: left;
}

.justify-content-left {
    justify-content: left;
}

.align-items-left {
    align-items: left;
}

.justify-content-between {
    justify-content: space-between;
}

.content-center {
    justify-content: center;
    align-items: center;
}
.pointer {
    cursor: pointer;
}

.w-100 {
    width: 100%;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
} 

.fs-40 {
    font-size: clamp(20px, 6vw, 40px);
}

.fw-600 {
    font-weight: var(--bold-font-weight);
}

.fw-500 {
    font-weight: var(--medium-font-weight);
}

.opacity-0 {
    opacity: 0;
}

.rounder-5 {
    border-radius: var(--base-border-radius);
}

.underline {
    text-decoration: underline;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.overflow-y-auto {
    overflow: auto;
}

.fw-500 {
    font-weight: 500;
}

.m-0 {
    margin: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-20 {
    margin-bottom: 2rem;
}

.mb-25 {
    margin-bottom: 2.5rem;
}

.mb-30 {
    margin-bottom: 3rem;
}

.mb-50 {
    margin-bottom: 5rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 0.5rem;
}

.mt-15 {
    margin-top: 1.5rem;
}

.mt-20 {
    margin-top: 2rem;
}

.mr-10 {
    margin-right: 1rem;
}

.mr-25 {
    margin-right: 2.5rem;
}

.ml-25 {
    margin-left: 2.5rem;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.my-10 {
    margin-top: 1rem;
    margin-bottom: 1rem;
} 

.my-20 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mx-25 {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

.my-25 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.my-30 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.p-0 {
    padding: 0;
}

.p-20 {
    padding: 20px;
}

.px-10{
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-20 {
    padding-right: 2rem;
    padding-left: 2rem;
} 

.px-25 {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.px-30 {
    padding-right: 3rem;
    padding-left: 3rem;
}

.py-10{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-25 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.gap-15{
    width: 100%;
    gap: 1.5rem;
} 

.gap-20{
    gap: 2rem;
}

.gap-25 {
    gap: 2.5rem;
}

.background {
    background-attachment: fixed;
    background: var(--background);
}

