/* Document
   ========================================================================== */
 *,::before,::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

/* Sections
   ========================================================================== */
 .container, .container-fluid, .strecth-width {
    margin-left: auto;
    margin-right: auto;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    width: 100%;
}

@media (min-width: 992px) {
  .container,.container-fluid, .strecth-width {
      --bs-gutter-x: 6rem;
  }
  .container,.container-fluid {
    max-width: calc(var(--ns-container-fluid-width) + var(--bs-gutter-x));
  }

  .ns-lists {
    --bs-gutter-x: 30px;
}
}

@media (min-width: 768px) and (max-width: 991px) {
  .container,.container-fluid, .strecth-width {
    --bs-gutter-x: 3rem;
  }
  .container,.container-fluid {
    max-width: calc(var(--ns-container-fluid-width) + var(--bs-gutter-x));
  }

  .ns-lists {
    --bs-gutter-x: 30px;
}
}

 @media (max-width: 768px){
  .container,.container-fluid, .strecth-width {
      --bs-gutter-x: 3rem;
  }
  .container,.container-fluid {
    max-width: calc(var(--ns-container-fluid-width) + var(--bs-gutter-x));
    
  }
  .ns-lists {
    --bs-gutter-x: 15px;
  }
}

a {
  transition: var(--transition);
  color: var(--base-color);
  text-decoration: none;
}

button {
  border: none;
}

svg {
  vertical-align: middle;
}

picture img {
  width: 100%;

}

img {
  max-width: 100%;
  vertical-align: middle;}

ul,
ol,li {
  list-style: none;
}

.heading {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
}

.paragraph-font {
  font-size: clamp(1.2rem, 3.5vw, var(--paragraph-font-size));
}

.btn-primary {
  padding: var(--btn-padding);
  white-space: nowrap;
}

.btn-secondary {
  color: #fff;
  width: max-content;
  padding: 1rem;
  border-radius: var(--base-border-radius);
}

.btn {
  display: inline-block;
  color: var(--title-fashion);
  font-size: var(--small-font-size);
  font-weight: var(--bold-font-weight);
  text-transform: uppercase;
  background: var(--background);
  border-radius: var(--base-border-radius);
}

.btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  height: 4rem;
  width: 4rem;
  box-shadow: var(--box-shadow);
  margin-bottom: 0.5rem;
  position: relative;
}

.heading-section-text {
  font-size: clamp(3rem, 4vw, var(--heading-2-font-size));
}

.description-text {
  font-size: 16px;
  color: var(--body-fashion);
}

main {
  display: block;
}
/* Grouping content
   ========================================================================== */
b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

/* Forms
   ========================================================================== */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.3;
  margin: 0;
  background: inherit;
  color: currentColor;
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { 
  cursor: pointer;
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="search"]{
  outline: none;
}

input[class="form-control"], select, textarea {
  padding: var(--input-padding);
  border: 1px solid var(--border-2-fashion);
  background: var(--background);
  color: var(--base-color);
  border-radius: var(--base-border-radius);
  font-weight: var(--base-font-weight);
  font-size: 13px;
  transition: var(--transition);
}

textarea {
  border-radius: 20px;
}

select,input[class="form-control"] {
  cursor: pointer;
  padding: 5px 30px 5px 20px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('../images/down.svg');
  background-repeat: no-repeat;
  background-position: right 20px center;
}