@font-face {
    font-family: "Prata";
    src: url("../fonts/Prata-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
} 

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
} 

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
} 

:root {
    --base-font-family: Jost;
    --base-font-size: 1.4rem;
    --paragraph-font-size: 1.6rem;
    --base-font-weight: 400;
    --bold-font-weight: 600;
    --medium-font-weight: 500;
    --navigation-font-size: 1.3rem;
    --base-border-radius: 5px;
    --base-line-height: 1.75;
    --input-font-size: 1.3rem;
    --small-font-size: 1.2rem;
    --input-height: 4rem;
    --height-header: 147px;
    --heading-font-family: Prata;
    --heading-font-weight: 400;
    --heading-2-font-size: 4rem;
    --section-heading-font-size: 6.4rem;
    --cart-padding: 1rem 11rem;
    --btn-padding: 1.7rem 6.5rem;
    --submenu-padding: 3.5rem 4rem;
    --height-header: 120px;
    --input-padding: 1rem 2rem;
    --bs-gutter-y: 0;
    --ns_product-item-vertical-space: clamp(1.5rem, 4vw, 3rem);
    --product-transition: all 0.5s;
    --transition: all 0.4s;
    --overlay-bg: rgba(0, 0, 0, 0.5);
    --box-shadow: 0 5px 30px 0 rgba(0,0,0,0.05);
    --light-grey-color: #f5f5f5;
    --btn-add-order-color: #ebebeb;
    --body-second: #999;
    --body-fashion: #555;
    --background: #fff;
    --title-fashion: #111;
    --bg-gray-fashion: #f5f5f5;
    --border-2-fashion: #dedede;
    --base-color: rgb(85,85,85);
    --key-jewelry: #9c7569;
    --base-menu-color: #cf6c6c;
    --lable-Pre-order: #177983;
    --color-banner-pro: #D73F0F;
    --key-digital: #0D53BB;
    --header-padding: 11px;
    --padding-min: 15px 20px;
    --ns-container-fluid-width: 1410px;
}

body {
    margin: 0;
    font-size: var(--base-font-size);
    color: rgb(var(--base-color));
    font-family: var(--base-font-family);
    line-height: var(--base-line-height);
    font-weight: var(--base-font-weight);
    background-color: var(--background);
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    touch-action: manipulation;
    overflow-x: hidden;
    font-style: normal;
    overflow-y: auto;
}

.animation-effect_fadeinup > * {
    -webkit-animation-name: fadeSlideUp;
    animation-name: fadeSlideUp;
}

main > section {
    margin-bottom: clamp(6rem, 8vw, 10rem);
}

.ns-categories{
    display: inline-block;
    white-space: nowrap;
    color: var(--body-second);
}

.hover-image img {
    transition: var(--transition);
}

.hover-image:hover img {
    transform: scale(1.1);
}

.heading-section {
    padding-bottom: clamp(2rem, 3.5vw, 4rem);
}

ul > li.links > a {
    color: var(--body-fashion);
    font-size: var(--paragraph-font-size);
}

ul > li.links > a:hover {
    color: var(--title-fashion);
    margin-left: 8px;
}

.name-hover a:hover{
    color: var(--key-jewelry);
}

.name-hover a{
    color: var(--title-fashion);
}

.content-absolute {
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--background);
}

.description {
    margin-bottom: clamp(2.5rem, 3.5vw, 5rem);
}

.ns-lists {
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.ns-lists > * {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.hover-active-icon .btn-slide {
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.hover-active-icon:hover .btn-slide {
    opacity: 1;
    visibility: visible;
}

/* Tooltip */
.tooltip {
    background: #111;
    line-height: 1;
    max-width: 360px;
    text-align: center;
    font-size: 1.3rem;
    text-transform: none;
    white-space: nowrap;
    transition: var(--transition);
    pointer-events: none;
    opacity: 0; 
    visibility: hidden;
    color: var(--background);
    border-radius: 0.3rem;
    padding: 0.7rem 1rem;
}

.tooltip-content-left {
    position: absolute;
    right: 2.5rem;
    top: 50%;
    transform: translateX(-2.5rem) translateY(-50%);
    z-index: 2;
}

.tooltip-content-left::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent transparent transparent #111;
}

.tooltip-content-bottom {
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translateY(0) translateX(-50%);
    z-index: 2;
}

.tooltip-content-bottom::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #111 transparent;
}

/* Aspect-ratio */
.aspect-ratio-container {
    width: 100%;
}

.aspect-ratio-container::before {
    content: "";
    display: block;
    padding-top: calc(100%/(0 + var(--aspect-ratio,16/9)));
}

.aspect-ratio-container img {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.aspect-ratio-container picture {
    border-radius: 1.5rem;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
} 

.aspect-ratio-boxes img {
    height: auto;
}

/* ============================ Header ================================*/

/* ======= Header Top =======*/
header {
    position: relative;
    transition: top 0.4s ease;
    z-index: 1000;
}

header.sticky {
    box-shadow: var(--box-shadow);
    width: 100%;
    position: fixed;
    top: 0;
    animation: scrollDown 0.4s forwards;
}

.header-top {
    background-color: var(--title-fashion);
    color: var(--body-second);
}

.header-top a{
    color: var(--body-second);
}

.top-message a {
    color: var(--background);
}

.header-top a:hover{
    color: var(--background);
}

.col-f {
    flex: 1 1 auto;
}
.dropdown button {
    transition: var(--transition);
}

.dropmenu button::after {
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    top: 40%;
    margin-left: 8px;
    border: solid currentColor;
    border-width: 0 1px 1px 0;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-40%) rotate(45deg);
}

.header_info button:hover{
    color: var(--background);
}

.dropdown-menu {
    top: calc(100% + 30px);
    background-color: var(--background);
    box-shadow: var(--box-shadow);
    min-width: 18rem;
    z-index: 7;
    max-height: 70vh;
    transition: var(--transition);
    display: block;
    white-space: nowrap;
    border-radius: 0 0 5px 5px;
    overflow: auto;
    right: 0;
    transform: translateX(10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.dropdown-menu.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header_info .dropdown-menu.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    top: calc(100% + 10px);
}

.dropmenu .dropdown-menu li a {
    color: var(--base-color);
}

.dropmenu .dropdown-menu li a:hover {
    color: var(--title-fashion);
    margin-left: 5px;
}

.dropmenu .dropdown-menu li:not(:last-child) {
    margin-bottom: 10px;
}

/* ======= Header Bottom =======*/
.header_bottom {
    background: var(--background);
    position: relative;
}

.header_bottom .btn-icon {
    color: var(--title-fashion);
}

.header_bottom .btn-icon:hover {
    color: var(--key-jewelry);
}
/* === Menu ===*/
.main-menu > li > a{
    text-transform: uppercase;
    font-size: var(--navigation-font-size);
    font-weight: var(--bold-font-weight);
    color: var(--title-fashion);
    margin: 0 1.5rem;
    display: block;
    white-space: nowrap;
    transition: var(--transition);
    position: relative;
}

.mobile-menu .close-btn-main-menu {
    transform: translate(-150%);
    float: right;
}

.close-btn-main-menu:hover svg{
    opacity: 1;
}

.close-btn-main-menu svg {
    color: #fff;
    opacity: 0.5;
    transition: var(--transition);
}

.icon-close {
    color: #999;
}

.icon-close:hover {
    color: #111;
}

/* Menu Level 0 */
.main-menu {
    padding-left: 2%;
}

.main-menu > li > a:hover{
    color: var(--key-jewelry);
}

.menu-width-custom .submenu {
    width: 120rem;
}

.menu-width-full-width .submenu {
    width: 100%;
}

.menu-custom-width-center {
    left: 50%;
    transform: translateX(-50%);
}

/* Home */
.submenu .type_home {
    width: 20%;
}

.home-image img {
    height: auto;
}

.type_home {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: var(--background);
}

.type_home .home-infor a{
    color: var(--title-fashion);
}

.loadmore-menu .demo {
    padding: 1.5rem 3rem;
    border-radius: var(--base-border-radius);
    background-color: var(--title-fashion);
    color: #FFF;
}

.label {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: var(--base-border-radius);
    margin-left: 0.5rem;
    text-transform: uppercase;
    color: var(--background);
}

.label1 {
    background-color: var(--color-banner-pro);
}

.label2 {
    background-color: var(--key-digital);
}

/* Shop *//* Product */ 
.main-menu a{
    justify-content: center;
    font-size: var(--paragraph-font-size);
}

.subchildmenu-title {
    font-weight: var(--bold-font-weight);
    margin-bottom: 2rem;
}

.subchildmenu-title a {
    color: var(--title-fashion);
}

.submenu .subchildmenu .menu-item {
    padding-bottom: 1.5rem;
}

.collection-infor {
    background: #fff;
    padding: 1rem 2rem;
    border-radius: var(--base-border-radius);
    display: block;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 20rem;
}

/* Blog *//*Page*/
.default_dropdown .submenu {
    padding: 20px;
}
.default_dropdown ul.dropdown li:not(:last-child) {
    padding-bottom: 1.5rem;
}

/*--------*/
.main-menu > li.level-icon a {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
}

/* === Col Search ===*/
.col-search {
    flex: 1 1 auto;
}

.col-search .col-form-search {
    min-width: 23rem;
}

input[type="search"] {
    padding: 1.1rem 1.8rem 1.1rem 4rem;
    border: 1px solid var(--border-2-fashion);
    border-radius: 3rem;
    font-size: var(--input-font-size);
    color: var(--body-second);
}

.icon-input {
    margin-left: 1.8rem;
}

.popup-search {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 11111;
    background: var(--background);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    pointer-events: none;
}

.popular-search-products .product-grid {
    --search_result-item-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(var(--search_result-item), 1fr);
    grid-gap: 0 var(--search_result-item-gap);
}

.popup-search-container::before {
    position: fixed;
    visibility: hidden;
    cursor: url(../images/cursor-close.png), pointer;
    background-color: var(--overlay-bg);
    transition: var(--transition);
    opacity: 0;
    pointer-events: none;
    content: "";
    left: 0;
    top: calc(100%);
    height: 100vh;
    width: 100%;
    z-index: 10;
}

.is-open.popup-search-container::before {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: var(--transition);
} 

.popup-search-show {
    opacity: 1;
    visibility: visible;
    max-height: calc(100vh - var(--height-header) - 5px);
    pointer-events: auto;
    overflow-y: auto;
    padding: 1rem 0 1.85rem;
}

.content-search .quick-keywords-search {
    display: flex;
    justify-content: center;
}

.content-search .list-quick-search {
    display: inline-flex;
    gap: 10px;
    padding-left: 10px;
}

.content-search .quick-search-title {
    color: var(--base-color);
}

.content-search .list-quick-search li a {
    position: relative;
}

.content-search .list-quick-search li:not(:last-child) a:after {
    content: ',';
    position: absolute;
}

.popular-search-products .title-pro-search{
    font-size: 2rem;
    margin: 20px 0;
}

/* === Col End ===*/
.h-count{
    min-width: 1.8rem;
    min-height: 1.8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1rem;
    position: absolute;
    top: -20%;
    left: 1.7rem;
    background-color: var(--key-jewelry);
    color: var(--background);
    z-index: 2;
}

.h-count.wishlist-count {
    left: 1.3rem; 
}

/* ============================ Main ================================*/

/* ======= SlideShow =======*/
.slideshow_text .slide-title {
    font-size: clamp(2.5rem, 4.7vw, var(--section-heading-font-size));
    margin-bottom: clamp(2rem, 3.5vw, 4rem);
    margin-top: 0;
    line-height: 1.3;
}

.slide-desc {
    margin-top: 0;
}

.slideshow_text >*:nth-child(1) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.slideshow_text>* {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
} 

.btn-slide{
    max-width: 95%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 555;
}  

.btn-slide .btn-add {
    width: clamp(3rem, 4.5vw, 6rem);
    height: clamp(3rem, 4.5vw, 6rem);
    opacity: 0.4;
    background-color: var(--btn-add-order-color);
}

.btn-slide .btn-add:hover{
    background-color: var(--title-fashion);
    color: #fff;
    opacity: 1;
}

.slideshow .dots{
    position: absolute;
    bottom: 20px;
    color: var(--background);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.slideshow .dots li{
    width: 0.8rem;
    height: 0.8rem;
    background-color:  rgba(255, 255, 255, 0.2);
    margin-right: 1rem;
    border-radius: 2rem;
    transition: transform 3s;
}

.slideshow .dots li.active{
    background-color:  #fff;
}

/* ======= Categories =======*/
.categories .btn-slide{
    max-width: 95%;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 555;
}   

.cate-info .cate-name a{
    font-size: 2rem;
}

.cate-name {
    margin: 1.5rem 0 0.5rem 0;
}

/* ======= Top-Trending =======*/
.menu-categories {
    margin-bottom: clamp(2rem, 3.5vw, 4rem);
    margin-top: 0;
}

.menu-categories > li {
    padding-left: clamp(1.5rem, 2vw, 2.5rem);
    padding-right: clamp(1.5rem, 2vw, 2.5rem);
    position: relative;
}

.menu-categories > li > a {
    position: relative;
    font-size: var(--navigation-font-size);
    text-transform: uppercase;
}

.menu-categories > li > a:after{
    content: "";
    position: absolute;
    height: 2px;
    background-color: #111;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

.menu-categories > li > a:hover {
    color: var(--title-fashion);
}

.menu-categories > li > a:hover::after{
    width: 100%;
}

.menu-categories > li > a.active {
    color: var(--title-fashion);
}

.menu-categories > li > a.active::after{
    width: 100%;
}
/* Product */
.col-pro-items {
    position:relative;
    width: 100%;
}

.pro-image .pro-img-hover {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 0.6s;
}

.cate-pro {
    font-size: var(--input-font-size);
    text-transform: uppercase;
}

.pro-price .pro-price-new{
    color: var(--key-jewelry);
    margin-right: 5px;
}

.pro-price .pro-price-del{
    color: var(--body-second);
}

.list-btn-action {
    transition: var(--transition);
    opacity: 1;
    visibility: visible;
}

.notificant-pro {
    top: 15px;
    position: absolute;
    left: 15px;
    min-width: 5px;
}

.list-btn {
    max-width: max-content;
    top: 30px;
    bottom: 35%;
}

.col-pro-items:hover .pro-img-hover {
    opacity: 1;
    transition: all 0.6s;
    overflow: hidden;
}

.btn-item-action {
    background-color: var(--background);
    color: var(--title-fashion);
    transition: var(--transition);
}

.btn-item-action:hover{
    background-color: var(--title-fashion);
    color: var(--background);
}

.btn-add:hover .tooltip-content-left{
    visibility: visible;
    opacity: 1;
} 

.btn-secondary.discount {
    background: var(--key-jewelry);
    margin-bottom: 5px;
    font-size: clamp(8px, 2vw, 13px);
    overflow: hidden;
    line-height: 1;
    padding: 0.8rem 1.2rem;
}

.btn-secondary.condition {
    line-height: 1;
    background: var(--lable-Pre-order);
    font-size: clamp(8px, 2vw, 13px);
    overflow: hidden;
}

.rating {
    unicode-bidi: bidi-override;;
    position: relative;
}

.star {
    display: inline-block;
    margin-right: -3px;
    cursor: pointer;
    color: var(--rating-star);
    font-size: 12px;
}

/* ======= Banner =======*/
.subtitle-banner {
    margin: 0;
    text-transform: uppercase;
}

.banner-title {
    margin-top: clamp(2rem, 2.5vw, 3rem);
    margin-bottom: 1rem
}

.countdown_design_2 {
    margin-top: clamp(4rem, 5vw, 10rem);
}

.countdown_design_2 .timer-block:not(:last-child) {
    border-right: 1px solid #dedede;
}

.countdown_design_2 .timer-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: clamp(5.1rem, 12vw, 17.3rem);
    min-height: clamp(5rem, 12vw, 16.3rem);
    padding: 1rem;
    position: relative;
    z-index: 2;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(5px);
}

.timer-banner .timer-block {
    color: rgb(var(--base-color));
    white-space: nowrap;
}

.timer-display {
    border-radius: var(--base-border-radius);
    border: 1px solid var(--border-2-fashion);
}
/*====== You Must Have =======*/
.col-products-content > * {
    margin-bottom: 3rem;
}

.local-video.h-full {
    height: clamp(890px, 63vw, 960px);
}

.local-video video {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
}
/*====== Testimonials =======*/
.message {
    font-size: clamp(2rem, 3.5vw, 3rem);
    line-height: 1.7;
    max-width: 905px;
    margin: auto;
}

/* ======= Social =======*/
.social {
    background: var(--bg-gray-fashion);
    padding-top: clamp(6rem, 8vw, 10rem);
    padding-bottom: clamp(6rem, 8vw, 10rem);
}

.btn-instagram {
    height: 6.5rem;
    width: 6.5rem;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
}

.btn-instagram i {
    font-size: 1.6rem;
}

.hover-image:hover .btn-instagram {
    opacity: 1;
    visibility: visible;
}

.service {
    margin-top: clamp(4rem, 6vw, 10rem);
}

.des-service {
    color: var(--body-fashion);
    line-height: 1.75;
}

.col-service-item:not(:last-child) {
    /* padding-right: clamp(1.5rem, 2vw, 3rem); */
}

/* ====================================== Footer =================================*/
footer {
    color: var(--body-fashion);
    font-size: var(--paragraph-font-size);
}

/*======= Footer Top =======*/
.footer-top {
    padding-bottom: clamp(3rem, 6.5vw, 8rem);
}

.information_company a:hover{
    color: var(--title-fashion);
}

.title-links {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--title-fashion);
    font-weight: var(--bold-font-weight);
    position: relative;
}

.social-link li {
    position: relative;
}

.social-link li a:hover .tooltip{
    opacity: 1; 
    visibility: visible; 
}

.social-link li:first-child {
    padding-right: 5px;
}

.social-link li:not(:first-child){
    padding: 0 5px;
}

.contentList li{
    /* margin-bottom: 20px; */
}

.newsletter-form .form-action button {
    padding: 0 4.25rem;
    border: none;
    height: 5rem;
}

.newsletter-form input[type="email"] {
    border: 1px solid var(--border-2-fashion);
    padding-left: 1rem;
    margin-right: 10px;
    min-width: 180px;
    font-size: 13px;
}

.newsletter-form button[type="submit"]{
    background: var(--title-fashion);
    color: var(--background);
    text-transform: uppercase;
    font-size: 12px;
}

.desc-email-footer {
    line-height: 1.9;
}

/* ======= Footer Bottom =======*/
.footer-bottom {
    padding-top: clamp(1.5rem, 2vw, 3.5rem);
    padding-bottom: clamp(1.5rem, 2vw, 3.5rem);
    border-top: 1px solid var(--border-2-fashion);
}

.drop-footer {
    min-height: max-content;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateY(-110%);
}

/* Back-top*/ 
.back-top {
    z-index: 5;
    transform: scale(0);
    -webkit-transform: scale(0);
    position: fixed;
    bottom: 9rem;
    right: 3rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--bls-transition);
    overflow: hidden;
}

.back-top.show {
    transform: scale(1);
    -webkit-transform: scale(1);
}

.back-top #ns__back-top {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: black;
    transition: var(--bls-transition);
}

.back-top i{
    color: white;
    z-index: 4;
    transition: color 0.3s ease;
    mix-blend-mode: difference;
}

/* Dialog View All Demo */
.dlg-demo-feature-full.show{
    opacity: 1;
    visibility: visible;
}

.dlg-demo-feature-full {
    z-index: 1001;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    cursor: url(../images/cursor-close.png), pointer;
    background-color: var(--overlay-bg);
}

.dlg-demo-feature {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-grey-color);
    max-width: var(--ns-container-fluid-width);
    width: 80%;
    z-index: 10;
    pointer-events: auto;
}

.dlg-message {
    margin: 3rem 0;
    padding: 0 3rem;
    max-height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: initial;
}

.dlg-message  .type_home {
    margin: 1.5rem 0;
    padding: 0;
    box-shadow: none;
    background-color: inherit;
    POSITION: relative;
}

.dlg-message .type_home .home-img {
    padding: 20px;
    background: var(--background);
    box-shadow: 0 5px 30px rgba(0,0,0,.05);
    margin-bottom: 15px;
    object-fit: cover;
    display: block;
}

 .label-demo {
    border-radius: 3px;
    font-weight: 500;
    color: var(--background);
    position: absolute;
    left: 20px;
    top: 20px;
    min-width: 54px;
    padding: 6px 9px;
    line-height: 18px;
    font-size: 13px;
}

.label-demo.popular {
    background: #dd3327;
}

.label-demo.new {
    background: #2838f5;
}

.dlg-message .home-infor a{
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    font-weight: var(--bold-font-weight);
    font-family: var(--heading-font-family);
}

.dlg-message p {
    margin-top: 5px;
    font-weight: 400;
    color: var(--base-color);
}

.close-button-dlg {
    top: 3%;
    right: 3%;
    font-size: 5px;
}

/* Minicart */
.overlay_cart {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    background-color: var(--overlay-bg);
    transition: var(--transition);
    cursor: url(../images/cursor-close.png), pointer;
}

.overlay_cart.show{
    opacity: 1;
    pointer-events: auto;
}

.minicart-wrapper {
    right: -120%;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 45rem;
    transition: var(--transition);
    height: 100vh;
    z-index: 5;
    background: #fff;
    max-width: 85%;
    pointer-events: auto;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}

.minicart-wrapper.show {
    right: 0;
    opacity: 1;
    visibility: visible;
}

.minicart-header {
    padding: 12px 20px;
}

.cart_threshold {
    background: var(--light-grey-color);
    padding: 3.5rem 3rem 2rem;
    /* color: var(--btn-link-color); */
    border-bottom: 1px solid var(--btn-add-order-color);
    font-size: 1.4rem;
}

.cart_bar_w {
    height: 5px;
    border-radius: 5px;
    background-color: var(--btn-add-order-color);
    margin-bottom: 1.2rem;
    position: relative;
}

.cart_bar_w .progress {
    display: block;
    height: 100%;
    width: 0;
    border-radius: 5px;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
    animation: 5s linear infinite progress;
    background-color: var(--btn-add-order-color);
    background-image: linear-gradient(135deg, #ffffff26 0 25%, #fff0 25% 50%, #ffffff26 50% 75%, #fff0 75% 100%);
    background-size: 40px 40px;

}

.cart_bar_w span .freeshipping-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--key-jewelry);
    transition: var(--transition);
    background: var(--background);
    margin-top: -1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--key-jewelry);
}

.freeship-text {
    color: var(--key-jewelry);
    font-weight: var(--bold-font-weight);
}

.free-shipping-message {
    padding: 5px;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    /* position: absolute; */
    width: 100%;
}

.cart-body {
    display: none;
}

.cart_shipping_free.cart_shipping * {
    animation: flash .8s linear .8s 2 both;
}

.cart-body .cart-empty {
    padding: 5rem 3rem 3rem;
}

.cart-body .cart-empty .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.6rem;
    color: var(--title-fashion);
    font-size: 16px;
}

.cart-body .cart-empty .empty .empty-des{
    font-size: 18px;
    margin-bottom: 1.6rem;
}

.cart-body .cart-empty .empty svg {
    margin-bottom: 1.6rem;
}

.cart-body .cart-empty .button-close-cart {
    background-color: var(--title-fashion);
    color: var(--background);
    min-width: 20rem;
    padding: 1.3rem 3rem;
}

#form-mini-cart {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-minicart {
    flex: 1 1 auto; 
    overflow: auto; 
    position: relative;
}

.product-list-cart::-webkit-scrollbar {
    width: 0px;
    height: 0px;
} 

.product-list-cart {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 1rem 2rem;
    overflow-y: overlay;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.product-list-cart .cart-item{
    padding: 1rem 0;
}

.cart-item .pro-info{
    width: 70%;
}

.product-list-cart .cart-item .pro-name a {
    color: var(--title-fashion);
}

.product-list-cart .cart-item .pro-name a:hover{
    color: var(--base-color);
}

.cart-item:not(:last-child) {
    padding-bottom: 2rem;
    border-bottom: 1px dashed var(--btn-add-order-color);
}

.cart-item .cart-image {
    position: relative;
    width: 87px;
    max-width: 85%;
    margin-right: 10px;
}

.minicart-actions .quality {
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    display: flex;
    border: 1px solid var(--btn-add-order-color);
    background: var(--light-grey-color);
    font-size: 12px;
}

.minicart-actions .quality .quantity-input {
    background: transparent;
    border: none;
    width: 3rem;
}

.minicart-actions .quality .quantity-input:focus-visible {
    outline: none;
}

.cart-footer .cart-addons {
    display: inline-flex;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--btn-add-order-color);
    border-bottom: 1px solid var(--btn-add-order-color);
    width: 100%;
    
}

.cart-addons>div:not(:last-of-type){
    position: relative; 
}

.cart-addons>div:not(:last-of-type):after {
    content: "";
    height: 20px;
    border-right: 1px dashed var(--btn-add-order-color);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.cart-addons button{
    padding: 0 40PX;
    line-height: 1;
}

.cart-summary {
    padding: 2rem 3rem 1.5rem;
    background-color: #f5f5f5;
}

.cart-summary .subtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drawer-bottom {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 0 3rem 3rem;
}

.label-cart {
    padding-left: 1rem;
}

.label-accept a {
    text-decoration: underline;
}

.btn-cart {
    font-size: 13px;
    margin-bottom: 1rem;
    text-align: center;
    padding: 1.1rem 3rem;
    line-height: 1.5;
}

.btn-cancel,.viewcart {
    border: 1px solid var(--title-fashion);
}

.btn-cancel:hover,.viewcart:hover {
    color: var(--background);
    background: var(--title-fashion);
}

.btn-save,.btn-checkout{
    background: var(--title-fashion);
    color: var(--background);
    cursor: auto;
}

.btn-checkout{
    opacity: 0.8;
}

.btn-save:hover {
    background: var(--btn-primary-bg-hover);
    cursor: pointer;
}

.btn-checkout:not(:disabled):hover{
    background: var(--btn-primary-bg-hover);
    cursor: pointer;
}

.btn-cancel {
    border: 1px solid var(--btn-add-order-color);
    background: var(--background);
}

.btn-cancel:hover {
    color: var(--background);
    background: var(--title-fashion);
}

.cart-footer .addon {
    bottom: 0;
    box-shadow: 0 5px 30px #0000001a;
    border-top: 1px solid var(--btn-add-order-color);
    background-color: var(--background);
    left: 0;
    padding: 3rem;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 500%, 0);
    transition: all .3s cubic-bezier(.43,.27,.36,.83);
    width: 100%;
    z-index: 12;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.minicart-content {
    flex: 1;
}

.minicart-content:after {
    content: "";
    background: #ffffffe5;
    opacity: 0;
    position: absolute;
    transition: var(--transition);
    visibility: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.minicart-content.show:after {
    opacity: 1;
    visibility: visible;
}

.cart-footer .addon.show {
    transform: translate3d(0, 0, 0); 
    pointer-events: auto;
}

.cart-footer .addon .addon-title {
    display: flex;
    align-items: center;
    font-weight: var(--medium-font-weight);
    font-size: 16px;
}

.addon-content input, .addon-content textarea {
    width: 100%;
}

.addon-content textarea {
    min-height: 128px;
}

.addon-actions {
    display: flex;
    flex-direction: column;
}

#shipping .addon-content {
    font-size: var(--font-size-small);
    color: var(--body-fashion);
}

/*======== Animation ==========*/
@keyframes  fadeSlideUp{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-1.5rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes scrollDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
